body {
  padding-top: 76px;
  background-color: #0a0a0a;
}

html {
  overflow-y: scroll;
}

body.modal-open {
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

.loader {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}
